//FontAwesome
@import '/node_modules/@fortawesome/fontawesome-free/css/all.css';

// Devicons
@import '/node_modules/devicon/devicon.css';

// Bootstrap
@import '/node_modules/bootstrap/scss/bootstrap.scss';

//Pace loading bar
@import './pace.scss';

@font-face {
    font-family: 'tartarus';
    src: url('../font/distortion.ttf') format('truetype');
}
@font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat.otf');
}

body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;

    &:hover{
        text-decoration: none;
        color: inherit;
    }
}

*, *::before, *::after{
    transition: 300ms all ease-in-out;
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
}